@media print {
    body {
      -webkit-print-color-adjust: exact; 
      color-adjust: exact;
      background-color: #ffffff; 
    }
}

#cv-template
{
    display: none;
}
.background
{
    background: #667db6;  
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    
}
a{
    color: white;
    text-decoration: none;
}
#tname
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}
#tabout
{
    font-weight: bold;
    color: white;
}